
.main-nav__toggle{
    display: flex;
}


 .interested-in__button, .close {
    color: white;
    background-color: #996ebf;
    .bold;
    width: 62%;
    border: none;
    margin-top: 6.5%;
    
        
}

.social__link {
    display: flex;

    &--youtube {
          background-image:url(../images/src/youtube.png);
          height: 5px;
          width:5px;
    }

    &--facebook {
        height: 5px;
        width:5px;
        background-image:url(../images/src/facebook.png);
    }

    &--twitter {
        height: 5px;
        width:5px;
        background-image:url(../images/src/twitter.png);
    }

}

 
