@media (min-width: 320px) {
    .page-footer {
        .dispcol;
        align-items: center;
        justify-content: space-between;
        width:100%;
        margin-top: 6.25%;
    }


    .hashtag {
        .bold;
        
    }

    .social__list {
        .disprow;
        justify-content: center;
        width: 150px;
    }

    .social__item {
        padding:10px;
        background-color: @blue;
        margin-right: 5px;
    }
}

@media (min-width: 768px) {
    .page-footer {
        .disprow;
        align-items: center;
        justify-content: space-between;
        width:748px;
        margin-top: 2%;
        margin-bottom: 2%;
    }


    .hashtag {
        .bold;
        
    }

    .social__list {
        .disprow;
        justify-content: center;
        width: 150px;
    }

    .social__item {
        padding:10px;
        background-color: @blue;
        margin-right: 5px;
    }
}



@media (min-width: 1200px) {
    .page-footer {
        .disprow;
        align-items: center;
        justify-content: space-between;
        width:1200px;
    }


    .hashtag {
        .bold;
        margin-top: 6.25%;
    }

    .social__list {
        .disprow;
        margin-top: 6.25%;
        justify-content: center;
        width: 150px;
    }

    .social__item {
        padding:10px;
        background-color: @blue;
        margin-right: 5px;
    }
}