

@violet: #886692;


@textColor: #232323;
@textHighlight: #00214D;
@basefont: 'PT Sans', 'Tahoma', sans-serif;
@fontSize: 14px;
@lineHeight: 21px;
 
@introSize: 18px;
@introLineHeight: 24px;
@introFontVariant: small-caps;

@mobile: {max-width: 460px};
@tablet:  {min-width: 461px} and {max-width: 970px};
@desktop: {min-width: 971px};

